<html>
<head>
	<header>Ceaser Cipher</header>
</head>
<body>
	<title>Ceaser Cipher</title>
	<p>Encrypt this:
	<form>
		<input type='text' name='text'>
		<p>by factor (1-100):</p>
		<input type='quantity' name='factor' type='number' min='1' max='100'>
		<input type='submit' value='encrypt'>
	</form>
	<p>
		<%= message %>
	</p>
</body>
</html>