<html>
    <head>
        <title>Ceaser Cipher Reloaded</title>
    </head>
    <body>
        <h1>Ceaser Cipher</h1>
        <p>Type some text:</p>
        <p>
        	<form>
        		<input type='text' name='text' />
				<input type='submit' value='Encrypt' />
        	</form>
    </body>
</html>